<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include("partials/_head") %>
  </head>
  <body>
    <%- include("partials/_header") %>
      <div class="row">
        <div class="col-md-2"></div>
        <div class="col-md-8">
          <ul>
            <% for (let beer of beers) { %>
            
            <li>
              <a href=<%= `/beers/${beer.db_id}` %>><%= beer['name'] %></a>
              <br>
              Rating: <%= beer['rating'] %>
              <br>
              <%= beer['brewery'] %>
              <br>
              <%= beer['style'] %>
              <br>
              ABV: <%= beer['ABV'] %>
              <br>
              <%= beer['description'] %>
            </li>

            <% } %>
          </ul>
        </div>
      <div class="col-md-2"></div>
    </div>
  </body>
</html>
