<!DOCTYPE html>
<html lang="en">
  <head>
  </head>
  <body>

    <ul>
      <% for (let beer of beers) { %>

      <li>
        <%= beer['name'] %>
        <br>
        Rating: <%= beer['rating'] %>
        <br>
        <%= beer['brewery'] %>
        <br>
        <%= beer['style'] %>
        <br>
        ABV: <%= beer['ABV'] %>
        <br>
        <%= beer['description'] %>
      </li>

      <% } %>
    </ul>

  </body>
</html>
